/* general component styling */
.podcastSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  max-height: fit-content;
}
.noBorder {
  border-bottom: none;
}

.podcastSearchSubmit {
  margin-right: 1rem;
  background-color: #7e779d;
  border: none;
  border-radius: 50px;
  transition: 0.15s ease-in;
  padding: 0.05rem 0.5rem;
  transition: 0.25s ease-in-out;
}

.podcastSearchSubmit:hover svg path {
  /* color: rgb(47, 47, 47); */
  filter: brightness(75%);
}

.podcastSearchSubmit:hover {
  cursor: pointer;
}

h3 {
  font-size: 1rem;
}

/* input field */
.podcastSearch form {
  display: flex;
  background-color: white;
  width: 100%;
}
#search {
  width: 100%;
  border: none;
  padding: var(--inputPadding);
}

/* Results Container */
.resultsContainer{
  margin:1rem 0 1rem 0;
  max-height: 30rem;

}
.resultsContainer ul {
  height: 100%;

  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgba(245, 245, 245, 0.159);
}
.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
  margin: 1rem 0 0 0 0;
  opacity: 0.1;
  border-radius: 5px;
  color: black;
  height: 15%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.results li {
  font-weight: 600;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  background-color: #262626;
  border-radius: 15px;
  color: #d3cfe6;
  padding: 1rem;
  transition: 0.25s;
  filter: drop-shadow(1px 0px 4px black);
}
.results li .thumbnail {
  width: 8rem;
  border-radius: 15px;
  filter: drop-shadow(1px 0px 4px black);
}

.results li button {
  font-weight: 700;
  padding: 0.5rem;
  color: #262626;
}

.resultsContainer .results .podcastTitle {
  font-size: 1.15rem;
}
.resultsContainer .results .episode {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  filter: grayscale(0.7);
}
.resultsContainer .results .publisher {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  filter: grayscale(0.7);
}
.results p,
.results h3 {
  margin: 0;
}

.results button {
  border-radius: 15px;
  padding: 5px;
  border: none;
  background: #c2edd8;
}
.results button:focus,
.results button:hover,
.results button:target {
  filter: brightness(50%);
  cursor: pointer;
}

/* loading animation */
.loader {
  margin: 2rem 0 2rem 0;
  border: 5px solid #f3f3f300;
  border-top: 5px solid #bcffe0;
  border-bottom: 5px solid #bcffe0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Search Dialog */

dialog {
  z-index: 2;
  padding: 0.5rem;
  color: white;
  background-color: #7e779d;
  border: 2px solid #d3cfe6;
  border-radius: 15px;
}
dialog button {
  margin-bottom: 1rem;
  background-color: white;
}

dialog button:hover,
dialog button:focus,
dialog button:target {
  filter: brightness(75%);
}
dialog button:focus,
dialog button:target {
  border: solid 2px pink;
}

@media (max-width: 500px) {
  .podcastSearch {
    width: 80%;
  }
  dialog {
    width: 60%;
  }
}
