.app {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ffffff2d; */
  border-radius: 25px;
  /* margin-top: 2rem;
  padding: 1.5rem .5rem 1.5rem .5rem; */
}

.app .changeSelectionButton{
  background-color: #7e779d;
  border: 2px solid #d3cfe6;
  color: white;
  padding: .5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: .25s ease-in-out;
}
.app .changeSelectionButton:hover{
  background-color: #d3cfe6;
  border: 2px solid #7e779d;
  color: black;
}


.selected {
  margin: 1rem 0 1rem 0;
  font-weight: 600;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  border-radius: 15px;
  color:  #d3cfe6;
  padding: 1rem;
}

.selected .podcastTitle{
  margin: 0;
  font-size: 1.5rem;
}
.selected .episode{
  margin: .5rem 0 .5rem 0;
  font-size: 1rem;
  filter: grayscale(.75);
}
.selected .publisher{
  margin: 0;
  font-size: 1rem;
  filter: grayscale(.75);
}
.selected  img{
    width: 75%;
    border-radius: 15px;
    margin:0 0 1rem 0;
}
.links{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.links li{
  list-style: none;
  width: 75px;
}
.links li img{
  margin: 0;
  width: 100%;
  transition: .2s ease-in-out;
}

.links li img:hover, .links li img:focus, .links li img:target{
  filter: brightness(50%);
}

@media (max-width: 500px) {
  .selected div{
    padding: 1rem 1rem 0rem 1rem;
  }
  .selected div img{
    width: 60%;
  }
}
