#root{
    --inputPadding: 0.5rem 0;
    --inputBottomBorder:1px solid rgb(237, 237, 237);
}

body{
    background-color:#001e31;
    color: white;
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: lato;
    
=======
=======
>>>>>>> 8546596c44b4ad61c7e3c5e12a7812bef8b20af1
    font-family: 'Lato', sans-serif;
}
button{
    font-family: 'Lato', sans-serif; 
}
h1,h2,h3,h4{
    font-family: 'Nova Flat', cursive;
<<<<<<< HEAD
>>>>>>> 4cd8f0a59767c03e511943d60979f2bbf0913460
=======
>>>>>>> 8546596c44b4ad61c7e3c5e12a7812bef8b20af1
}
button{
    background-color:#D3CFE6;
    color: black;
<<<<<<< HEAD
}

=======
}
>>>>>>> 8546596c44b4ad61c7e3c5e12a7812bef8b20af1
